{% extends "base.html" %}

{% block content %}
    {% include 'form.html' %}
    {% include 'weather.html' %}

    {% if forecast_data and city_info %}
        <h2>5-Day Forecast for {{ city_info.name }}, {{ city_info.country }}</h2>
        <div class="forecast">
            {% for day in forecast_data %}
                <div class="forecast-item">
                    <h3>{{ day['day_of_week'] }}</h3>  <!-- Display day of the week -->
                    <p>Average Temperature: {{ day['avg_temp'] }}°</p>  <!-- Rounded average temperature -->
                    <p>Weather: {{ day['weather_desc'] }}</p>
                    <p>Average Humidity: {{ day['avg_humidity'] }}%</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}